@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*importamos las fuentes de letras de google*/

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* important toma preferenia */
.carousel-inner {
    max-height: 500px !important;
}